<div class="user-work-experience">
  <div class="heading">
    <h4><span class="fa fa-briefcase"></span> Work Experience</h4>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <div class="designation">
        <p>Software Programmer</p>
      </div>
      <div class="company">
        <p><i>Freelance Development, Toronto, Ontario</i></p>
      </div>
      <div class="description">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a g</p>
      </div>
    </div>
    <div class="user-work-experience-dates col-md-4 col-xs-12">
        <p>MM/DD/YY - MM/DD/YY</p>
    </div>
  </div>
</div>