<div class="user-content-timeline">
    <div class="heading">
      <h4><span class="fa fa-pencil"></span> Make a Post</h4>
    </div>
    <hr>
    <form>
        <div class="form-group">
          <label for="comment">Post:</label>
          <textarea class="form-control" placeholder="Post something useful!" rows="4" id="comment"></textarea>
        </div>
        <div class="button-container">
          <button class="btn btn-success">Post!</button>
        </div>
    </form>
</div> <!-- /user-content-timeline -->
<br>
<app-nav-timeline-feed></app-nav-timeline-feed>